<%= form_with(model: task_organizer, local: true) do |form| %>
  <% if task_organizer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task_organizer.errors.count, "error") %> prohibited this task_organizer from being saved:</h2>

      <ul>
      <% task_organizer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <% if @isStatusDisabled %>
  <div class="field">
    <%= form.label :Finalizado %>
    <%= form.check_box :status %>
  </div>
  <% end %>
  
  <div class="field">
    <%= form.label :task_id %>
    <%= collection_select(:task_organizer, :task_id, Task.all, :id, :descricao) %>
  </div>

  <div class="field">
    <%= form.label :organizer_id %>
    <%= collection_select(:task_organizer, :organizer_id, Organizer.all, :id, :nome) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
