<p id="notice"><%= notice %></p>

<h1>Task Organizers</h1>

<table>
  <thead>
    <tr>
      <th>Finalizado</th>
      <th>Task</th>
      <th>Organizer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @task_organizers.each do |task_organizer| %>
      <tr>
        <td><%= task_organizer.status %></td>
        <td><%= task_organizer.task.descricao %></td>
        <td><%= task_organizer.organizer.nome %></td>
        <td><%= link_to 'Show', task_organizer %></td>
        <td><%= link_to 'Edit', edit_task_organizer_path(task_organizer) %></td>
        <td><%= link_to 'Destroy', task_organizer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task Organizer', new_task_organizer_path %>
